body {
    font-size: 100%;
    font-family: Verdana, Geneva, sans-serif;
    background-color: lightgrey;
}

h1 {
    text-align: justify;
    color:darkgrey;
}
.element {
    
}
.container {
    padding: 15px;
    display: inline-block;
    border: 10px white;
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    height: 200%;
    position: fixed;
    top: 50%;
    left: 50%; 
    margin-top: -200px;
    margin-left: -250px;
    font-size: 15px;
}

.after-box {
    border: 3px solid grey;
}
form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

table {
    table-layout: fixed;
    width: 100%;
}

