body {
    font-size: 100%;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: radial-gradient(red 5%, yellow 15%, green 60%);
}

h1 {
    color: darkgrey;
}

.element {
    width: 100% auto;
    display: block;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.container {
    text-align: justify;
    padding: 15px;
    display: inline-block;
    border: 10px white;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 200%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
}

.after-box {
    border: 3px solid grey;
}

table {
    table-layout: fixed;
    width: 100%;
}
